<div class="<%= div[:class] %>">
  <a class="dropdown-toggle <%= button[:class] %>" role="button" id="<%= button[:id] %>" data-toggle="dropdown">
    <%= button[:caption] %>
  </a>
  <div class="<%= menu[:class] %>" role="menu" aria-labelledby="<%= button[:id] %>">
    <%= content %>
  </div>
</div>
