<li class="nav-item">
  <a class="nav-link" role="button" id="<%= button[:id] %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= button[:caption] %>
  </a>
  <div class="<%= menu[:class] %>" role="menu" aria-labelledby="<%= button[:id] %>">
    <%= content %>
  </div>
</li>
